/* login.component.css */

.login-container {
  background: linear-gradient( #004d7a);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

.login-card {
  width: 100%;
  max-width: 400px;
  background-color: white;
  border-radius: 1rem;
}

.text-primary {
  color: #007bff;
}

input.form-control {
  border-radius: 0.5rem;
  font-size: 1rem;
}

button.btn-primary {
  background-color: #007bff;
  border: none;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

button.btn-primary:hover {
  background-color: #0056b3;
}
