.header-container {
  text-align: center;
  margin-top: 15px;
}

.app-title {
  font-size: 32px;
  font-weight: 700;
  color: #0A80FF; 
}

.tagline {
  margin-top: -5px;
  font-size: 15px;
  color: #ADCFFF;
}
